html{
    width: 960px;
    background-color: #FFFFFF;
}
main{
    display: flex;
}
nav{
    flex: 1;
    margin: 20px;
    
}
article{
    flex: 3;
    margin: 20px;
}
h2{
    margin: 0px;
}
h3{
    background-color: #CAE7F2;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
li{
	list-style-type: none;
}
/*ここからヘッダー*/
.top_zero{
    float: left;
    margin-left: 40px;
}
.top_one{
    float: left;
    margin-left: 40px;
}
.top_two{
    float: right;
    margin-left: 20px;
}
.top_three{
    float: right;
    margin-left: 20px;
}
.top_four{
    float: right;
    margin-left: 20px;
}
.clear{
    clear: both;
}

/*ここからnav*/
.left{
    border: ridge 5px;
    margin: 0px 10px 10px 10px;

}
.nav_title{
    text-align: center;

}
.icon{
    font-size: 15px;
    background-image: url(material/pict1.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-y: center;
	padding-left: 27px;
}
.school{
    font-size: 18px;
    background-color: #FFAAE8;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
/*ここからarticl*/
.one{
    width: 620px;
    display: flex;
    border: ridge 2px;
    margin-top: 10px;
}
.img_left{
    flex: 1;
    margin: 10px 40px;

}
.img_right{
    flex: 3;
}
.new::before{
    content: "[New!]";
    color: #f00;
}
.info{
    border: ridge 5px;
    width: 620px;
    background-color: #CAE7F2;
}
.more{
    text-align: right;
    margin-right: 50px;
}




/*ここからフッター*/
footer{
	border-top: solid 1px;
	background-color: #FFFFFF;
}
.footer{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.footerzero{
    display: flex;
}
.foot{
    flex: 1;
    border-right: solid 1px;
}
li:last-child{
	border-right: 0;
	border-bottom: 0;
}